# Byte-compiled / cache
__pycache__/
*.py[cod]

# Environment
.env
*.env

# Secrets
*.xlsx
*.json
.streamlit/secrets.toml

# OS files
.DS_Store
Thumbs.db

#virtualenv folders
rag_venv/
venv/

#test notebooks
*.ipynb